.photos {
    margin: 100px auto 0;
}

.photos md-card {
    margin: 0 auto;
}

.photo-placeholder {
    width: 200px;
    height: 200px;
    background: url(https://loading.io/spinners/fidget-spinner/index.fidget-spinner.gif) no-repeat center;
    flex-shrink: 0;
    margin: 0 auto;
}

.photo-gallery {
    display: flex;
    flex-direction: row;
    width: 600px;
    margin: 0 auto 20px;
}

.photo-gallery .photo {
    transition: transform .5s;
    margin: 0 auto;
}

.photo-gallery .photo:hover {
    transform: scale3d(1.05, 1.05, 1);
    transition-duration: 0.3s;
}

.clear-icon {
    display: none;
    position: absolute;
    cursor: pointer;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    border: 1px solid grey;
}

.clear-icon md-icon {
    color: #232323;
}

.photo-placeholder:hover .clear-icon {
    display: inline-block;
}
