.header {
    background-color: #303AA6;
    height: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 10px;
    justify-content: space-between;
    padding-right: 10px;
}

.header md-headline {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.left-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-menu .score-button {
    margin-right: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.menu-icon {
    color: #FFFFFF;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
}

.sidebar-list md-icon {
    margin-right: 20px;
}