<form>
    <div layout="column">
        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <div>
                <md-input-container>
                    <label>Upload another photo (from URL)</label>
                    <input ng-model="$ctrl.uploadPhoto.url" required>
                </md-input-container>
            </div>
        </md-content>
    </div>
    <md-button ng-disabled="!$ctrl.uploadPhoto.url.startsWith('http')" ng-click="$ctrl.uploadPhoto()" class="md-raised md-primary upload-photo">Upload</md-button>
</form>