.guess .photo md-card{
    max-width: 200px;
    margin: 0 auto;
}

.guess-choices {
    width: 200px;
    margin: 30px auto 0;
}

.guess .photo md-card {
    transition: transform .5s;
}

.guess .photo md-card img {
    opacity: 1;
    transition: opacity 0.6s ease;
}

.guess .photo md-card:hover {
    transform: scale3d(1.05, 1.05, 1);
    transition-duration: 0.3s;
}

.guess .feedback {
    width: 100px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
}

.guess .feedback .correct {
    color: #25783b;
 }

.guess .feedback .wrong {
    color: #832133;
}

.guess .photo-placeholder {
    width: 200px;
    height: 200px;
    background-image: url(https://loading.io/spinners/square/lg.square-grid-loader.gif);
    background-size: contain;
    margin: 0 auto;
}
