.welcome-message {
    margin-top: 100px;
}

.guess {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 200px;
    height: 400px;
    margin: 0 auto;
    align-self: center;
}

.guess .photo md-card {
    max-width: 200px;
    margin: 0 auto;
}

.guess-choices {
    width: 200px;
    margin: 30px auto 0;
}

.guess md-card {
    transition: transform .5s;
    margin: 0 auto;
}

.guess md-card:hover {
    transform: scale3d(1.05, 1.05, 1);
    transition-duration: 0.3s;
}

.guess .feedback {
    width: 100px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
}

.guess .feedback .correct {
    color: #25783b;
 }

.guess .feedback .wrong {
    color: #832133;
}