<div class="photo-gallery">
    <div class="photo" ng-repeat="photo in $ctrl.photos">
        <div class="photo-placeholder">
            <div class="clear-icon"
                 ng-click="$ctrl.deletePhoto($index, photo.id)"
                 ng-if="$ctrl.photos.length > 1">
                <md-tooltip md-direction="top">Delete Photo</md-tooltip>
                <md-icon ng-bind="'clear'"></md-icon>
            </div>
            <md-card>

                <img class="md-card-image" onerror="this.src=''" ng-src="{{ photo.url }}" alt="Photo of you!">
                <md-card-footer ng-if="photo.name">{{ photo.name }}</md-card-footer>
            </md-card>
            <div class="photo-warning" ng-show="photo.url.endsWith('default.png')">
                <md-icon ng-bind="'warning'"></md-icon>
                Your photo suck, please upload a majestic photo of you
            </div>
        </div>
    </div>
</div>
