.not-found {
    margin: 0 auto;
    width: 100%;
    background: white;
    text-align: center;
    min-height: calc(100VH - 75px);
}

.not-found-message {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #5b5b5b;
}

.not-found img {
    /*box-shadow: 0px 0px 5px 1px gray;*/
}